@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

/* Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%) */

:root{
    --darkVoilet: hsl(256, 26%, 20%);
    --greyBlue:hsl(216, 30%, 68%);
    --veryDarkVoilet:hsl(270, 9%, 17%);
    --darkGreyVoilet:hsl(273, 4%, 51%);
    --lightGrey:hsl(0, 0%, 98%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: var(--lightGrey);
    line-height: 1.2;
    font-size: 16px;
}

h1,h2,h3{
    font-family: "DM Serif Display", sans-serif;
    font-weight: 700;
    color: var(--lightGrey);
    line-height: 1.4;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--darkVoilet);
}

.btn{
    border: 1px solid var(--lightGrey);
    padding: 0.785rem;
}

/* navbar */

.navbar{
    padding: 1rem 0;
   
}

.nav-center{
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

.nav-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width:120px
}

.menu{
    cursor: pointer;
    transition: 0.4s all linear;
}

.close{
    display: none;
    cursor: pointer;
    transition: 0.4s all linear;
}

/* sidebar */

.sidebar{
margin-top: 1rem;
background: var(--veryDarkVoilet);
height: 0;
background-image: url(./images/bg-pattern-mobile-nav.svg);
background-repeat: no-repeat;
background-position: bottom left;
background-size: contain;
overflow: hidden;
transition: 0.4s all linear;
}

.nav-links{
    padding: 4rem 0 ;
    display: grid;
    place-items: center;
    transition: 0.4s all linear;
}

.nav-links li {
    margin-bottom: 2rem;
    transition: 0.4s all linear;
}

.link{
    font-size: 1.6rem;
    color: var(--lightGrey);
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s all linear;
}

.nav-btn{
background: transparent;
color: var(--lightGrey);
border: 1px solid var(--lightGrey);
padding: 0.875rem 3rem;
text-transform: uppercase;
letter-spacing: 0.3rem;
cursor: pointer;
}


.show{
height: 100vh;
}


.menu-links{
    display: none;
}

.menu-link{
    font-size: 1rem;
    color: var(--darkGreyVoilet);
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s all linear;
}

.menu-link:hover{
    color: var(--darkVoilet);
}

.menu-btn{
    background:transparent;
    border: 1px solid var(--darkVoilet);
    color: var(--darkVoilet);
    padding: 0.6rem 1.5rem;
    transition: 0.4s all linear;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.menu-btn:hover{
    background:var(--darkVoilet);
    color: var(--lightGrey);
}

@media screen and (min-width:768px){
    .menu{
        display: none !important;
    }

    .close{
        display: none;
    }

.sidebar{
    display: none;
}

    .nav-center{
        display: flex;
        justify-content: space-between;
    }

    .menu-links{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }
}

/* header */

.header{
    background: var(--darkVoilet);
}

.hero-desk{
    display: none;
}

.hero-mob{
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
width: 100%;
height: 400px;
margin-bottom: 4rem;
}

.hero-center{
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
    text-align: center;
}

.hero-center h1{
    font-weight: 700;
    font-size: 40px;
}

.hero-center p{
    margin-bottom: 2rem;
}

.hero-btn{
    padding: 0.875rem 3rem;
    background: transparent;
    color: var(--lightGrey);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: 0.4s all linear;
    font-weight: 700;
    margin-bottom: 5rem;
    z-index: 2;
}

.hero-btn:hover{
background: white;
color: var(--darkVoilet);
}


.hero-center hr{
    display: none;
}

.left{
    display: none;
}

.right{
    display: none;
}

.right-mob{
    position: absolute;
    bottom: -30%;
    right: 0;
}

.left-mob{
    position: absolute;
    bottom: 20%;
   left: 0;
}


@media screen and (min-width:768px){
    .hero-mob{
        display: none;
    }

    .hero-desk{
        display: block;
        order: 1;
        position: absolute;
        width:350px;
        bottom: -15%;
        right: 10%;
    }


    .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        position: relative;
        height: 100%;
    }

    .hero-center{
        width: 400px;
        text-align: left;
        align-self: start;
        padding-top: 8rem;
    }

    .hero-center hr{
        display: block;
        width: 30%;
        margin-bottom: 2.5rem;
    }

    .hero-center h1{
        margin-bottom: 1.5rem;
        font-size: 55px;
    }

    .hero-center p{
        font-size: 18px;
    }

    .hero-btn{
        margin-bottom: 7rem;
    }

.left{
    display: block;
    position: absolute;
    bottom: -25%;
    left: -3%;
}

.right{
    display: block;
    position: absolute;
    bottom: 1%;
    right: -3%;
}

.right-mob{
    display: none;
}

.left-mob{
    display: none;
}

}

/* features */

.features{
    margin: 6rem 0;
}

.feature-center{
width: 85vw;
margin: 0 auto;
max-width: 1170px;
text-align: center;
}


.feature-center hr{
    width: 50%;
    margin: 0 auto 2rem auto;
    color: var(--darkVoilet);
}

.feature-center h1{
    color: var(--darkVoilet);
    font-size: 50px;
    margin-bottom: 7rem;
}


.card{
    margin-bottom: 4rem;
}

.card h2{
color: var(--darkVoilet);
margin-top: 1rem;
font-size: 28px;
margin-bottom: 1rem;
}

.card p{
    color: var(--darkGreyVoilet);
}


@media screen and (min-width:768px){

.features{
    margin-top: 10rem;
}

.feature-center hr{
    display: none;
}

.feature-center h1{
    text-align: left;
}

    .feature-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
.card{
    text-align: left;
}

}

/* how we work */

.about{
    position: relative;
}

.about-center{
    text-align: center;
    background: var(--darkVoilet);
    padding: 5rem 0;
    width: 85vw;
    margin: 4rem auto 4rem auto;
}

.about-center h1{
    color: var(--lightGrey);
    font-size: 50px;
    font-weight: 700;
    font-family: "DM Serif Display", sans-serif;
    margin-bottom: 2rem;
}

.about-btn{
    padding: 0.875rem 2rem;
    background: transparent;
    color: var(--lightGrey);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    transition: 0.3s all linear;
    cursor: pointer;
}

.about-btn:hover{
    background: var(--lightGrey);
    color: var(--darkVoilet);
}

.about-img-desk{
    display: none;
}

.about-img-mob{
    position: absolute;
    bottom: 29.5%;
    right: 7%;
}

@media screen and (min-width:768px){
    .about-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        padding: 4rem;
    }


    .about-btn{
        justify-self: center;
        width: 250px;
        height: 60px;
        align-self: center;
        z-index: 2;
    }

    .about-img-mob{
        display: none;
    }

    .about-img-desk{
        display: block;
        content:"";
        position: absolute;
        width: 500px;
        bottom:2%;
        right: 7.5%;
    }
}

/* footer */

.footer{
    margin-top: 7rem;
    background: var(--lightGrey);
    position: relative;
}

.footer-center{
    width: 85vw;
    margin: 0 auto;
    padding: 6rem 0 2rem 0;
    text-align: center;
    z-index: 1;
}
.footer-logo{
    margin-bottom: 2rem;
    z-index: 2;
}


.social-icon{
margin-right: 1rem;
z-index: 1;
cursor: pointer;
}


.footer-img-desk{
    display: none;
}

.footer-img-mob{
    position: absolute;
    top: 0%;
    left: -5%;
}

.footer-center hr{
    margin: 2rem 0;
    color: var(--lightGrey);
}

.footer-widget h3{
    color: var(--darkGreyVoilet);
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}

.footer-link{
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: var(--darkVoilet);
    transition: 0.4s all linear;
}


.footer-link:hover{
    color: var(--greyBlue)
}

.footer-widget{
    margin-bottom: 3rem;
}

@media screen and (min-width:768px){
    .footer-widget-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-social-icons{
        justify-self: end;
    }

    .footer-img-desk{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer-img-mob{
        display: none;
    }

.footer-widgets{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}


@media screen and (min-width:992px){
    .footer-widgets{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}